.btn-primary {
    background-color: skyblue;
    color: white;
    border: none;
    ;
    text-align: center;
    text-decoration: none;
    font-size: 30px;
    margin: 6px 4px;
    cursor: pointer;

    text-transform: capitalize;
    font-weight: bolder
}



.list-group {
    display: flex;
    flex-direction: column;
    gap: 4px;
    align-items: center;

}

#title {
    text-align: center;
}

.modal-header {
    text-transform: capitalize;
}

.modal-title {
    text-align: left;
}

#pokemonImage {
    width: 250px;
    height: 250px;
}