.btn-primary {
    background-color: darkgray;
    color: white;
    border: none;
    ;
    text-align: center;
    text-decoration: none;
    font-size: 30px;
    margin: 6px 4px;
    cursor: pointer;

    text-transform: capitalize;
    font-weight: bolder
}



#pokemon-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;


}

#title {
    text-align: center;
}

.modal-header {
    text-transform: capitalize;
}

.modal-title {
    text-align: left;
}

#pokemonImage {
    width: 250px;
    height: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}